* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    direction: rtl;
    background: linear-gradient(to right, #6D6027, #D3CBB8, #6D6027);
}

button {
    border: none;
    outline: none;
    padding: 14px 16px;
    cursor: pointer;
    margin-top: 10px;
    color: #fff;
    font-size: 20px;
    border-radius: 30px 0;
    width: 60%;
    border: 1px solid #fff;

}

.container {
    max-width: 30rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-teal {
    background-color: #FACC15;
}

.btn-red {
    background-color: #DC2626;
}

.btn-pruple {
    background-color: #701A75;
}

.btn-green {
    background-color: #047857;
}

.btn-darkBlue {
    background-color: #1D4ED8;
}

.btn-pink {
    background-color: #BE185D;
}

#testStart, #resetTest, #showQustion, #falseQustion, #showScore {
    display: none;
}